@media screen and (max-width:450px) {
    .column {
      width: 100;
    }
}

* {
  box-sizing: border-box;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.navigationbar {
  overflow: hidden;
  background-color: #17202A;
}

.navigationbar a {
  float: left;
  display: block;
  color: #2196F3;
  text-align: center;
  padding: 15px 17px;
}

.aboutapp {
  padding: 15px;
  text-align: center;
}
